body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: rgb(145, 75, 241);      /* Purple */
  --gray: rgb(44, 42, 42);        /* Light Gray */
  --background: rgb(16, 16, 17); /* Dark grey */
  --white: rgb(255, 255, 255);       /* White */
}
